app/code/TT/Kernel/Configs/schemas/di.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="preference" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute type="xs:string" name="for"/>
                                    <xs:attribute type="xs:string" name="type"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="factory" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute type="xs:string" name="for"/>
                                    <xs:attribute type="xs:string" name="reference"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="virtualType" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="arguments">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="argument">
                                                <xs:complexType mixed="true">
                                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="item" minOccurs="0" type="inner-item"/>
                                                    </xs:sequence>
                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                    <xs:attribute name="type" type="xs:string" use="required" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:string" name="name"/>
                            <xs:attribute type="xs:string" name="type"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="type" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="arguments">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="argument">
                                                <xs:complexType mixed="true">
                                                    <xs:sequence minOccurs="0">
                                                        <xs:element name="item" minOccurs="0" type="inner-item"/>
                                                    </xs:sequence>
                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                    <xs:attribute name="type" type="xs:string" use="required" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:string" name="name"/>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="inner-item" mixed="true">
        <xs:sequence>
            <xs:element name="item" minOccurs="0" type="inner-item"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
</xs:schema>